[core]
    editor=vim

[alias]
	st = status
	# delete a local branch
	dbranch = branch -d
	# create a new branch and check it out
	bcheckout = checkout -b

[user]
	email = AUTHOREMAIL
	name = AUTHORNAME
