# Local/private config goes in the include
[include]
	path = ~/.gitconfig.local

[core]
    editor = vim

[color]
	ui = auto

[alias]
	st = status
	# delete a local branch
	dbranch = branch -d
	# create a new branch and check it out
	bcheckout = checkout -b

[push]
	# Defines the action git push should take if no refspec is given on the command line, 
	# no refspec is configured in the remote, and no refspec is implied by any of the 
	# options given on the command line.
	default = simple
