# Local/private config goes in the include
[include]
    path = ~/.gitconfig.local
	# aliases to use with git-flow
	path = ~/.gitconfig.flow

[core]
    editor = vim
    excludesfile = ~/.gitignore.global

[color]
    ui = auto

[alias]
    b = branch
    c = commit
    pl = pull
    ps = push
    p = push
    # unstage a file
    unstage = reset HEAD
    # undo the commit and keeps the changes
    undo-commit = reset --soft
    # list all branches, local and remotes
    lb = branch -v -a
    # commit all modified file and comment
    cam = commit -am
    st = status
    # delete a local branch
    dbranch = branch -d
    # create a new branch and check it out
    bcheckout = checkout -b
    # shallow clone of repositor# shallow clone of repositoryy
    shallow = clone --depth=1
    tree = log --graph --full-history --all --color --date=short --pretty=format:\"%Cred%x09%h %Creset%ad%Cblue%d %Creset %s %C(bold)(%an)%Creset\"
    size = count-objects -vH
    # commit and amend without modify the last commit message
    amend=commit --amend --no-edit
    # current branch
    branch=symbolic-ref --short HEAD
    # track upstream branch
    up=push -u origin
    # custom command ignore, generate gitignore configuration file
    i = ignore
    # Advanced stashing: https://stackoverflow.com/a/44824475/9942979
    stash-staged = '!bash -c "git stash --keep-index; git stash push -m "staged" --keep-index; git stash pop stash@{1}"'
    move-staged = '!bash -c "git stash-staged;git commit -m "temp"; git stash; git reset --hard HEAD^; git stash pop"'
    logtags = log --tags --no-walk --pretty='format:%ci %an %d'

[push]
    # Defines the action git push should take if no refspec is given on the command line,
    # no refspec is configured in the remote, and no refspec is implied by any of the
    # options given on the command line.
    default = simple
[http]
    # post buffer size in bytes
    postBuffer = 256288000
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
