# A template file to generate the configuration file for auto.fs

# The configuration file is a list of comments and lines with the following
# general syntax:
#
# key [-options] location

# For more information have a look at the man page
