function git-infect-pathogen() {
	target="$(git rev-parse --show-toplevel)/.vim/bundle/"
	[ -f "$target" ] && git submodule add $1 $2
}


# Infect vim with a pathogen
function infect() {
	[ -d "~/.vim/bundle" ] && git clone $1 ~/.vim/bundle
}
